<div class="row bgc-gray-blue rounded-bottom-5 shadow py-3 text-center">
    <span class="txtc-noon display-6 bgc-dark-blue rounded-bottom-5 py-2 fw-bolder mb-2 border border-dark-subtle border-opacity-10 border-2 border-top-0">StockApp Admin</span>
    <div class="mx-auto col-9 border rounded-4 p-2 mb-3 text-center bgc-air">
        <div class="position-relative">
            <span id="total_users" class="position-absolute top-50 start-50 translate-middle display-4 font-monospace user-select-none"></span>
            <canvas id="admin_users_chart" class="shadow-sm rounded-5" style="max-width:300px; max-height:200px"  data-controller="admin-users-chart"></canvas>
        </div>
        <div class="vstack gap-1 mt-2">
            <div>
                <% if User.is_pending_approval.count > 0 %>
                <a href="<%= pending_approval_path %>" class="btn btn-sm btn-outline-primary w-100">
                    Approve Requests
                    <span class="badge text-bg-danger">
                    <%= User.is_pending_approval.count %>
                    </span>
                </a>
                <% else %>
                <a href="<%= pending_approval_path %>" class="btn btn-sm btn-secondary w-100 pe-none user-select-none">
                    No Pending Requests
                </a>
                <% end %>
            </div>
            <%= link_to 'View Users', admin_users_path, class: "btn btn-sm btn-outline-secondary" %>
        </div>
    </div>
</div>