<div id="admin_user_component" class="row bgc-dark-blue rounded-bottom-5 shadow py-3 text-center shadow-gray-blue mb-4">
    <span class="admin-header font-mont txtc-sunset display-6 bgc-gray-blue rounded-bottom-5 py-2 fw-bold mb-2 shadow-sm shadow-sm-sunset" data-controller="animations">StockApp Admin</span>
    <div class="mx-auto col-9 border rounded-4 p-2 mb-3 text-center bgc-air shadow-sm-dark-blue" >
        <div class="chart-wrapper position-relative mb-3">
            <div class="chart-container">
                <span id="total_users" class="total-users-count font-mont user-select-none fw-semibold"></span>
                <canvas id="admin_users_chart" width="300" height="300" data-controller="admin-users-chart"></canvas>
            </div>
        </div>
        <div class="btn-group-vertical w-100">
            <% if User.is_pending_approval.count > 0 %>
                <a href="<%= pending_approval_path %>" class="font-mont btn btn-sm custom-btn">
                    Approve Requests
                    <span class="badge text-bg-sunset">
                    <%= User.is_pending_approval.count %>
                    </span>
                </a>
            <% else %>
            <a href="<%= pending_approval_path %>" class="btn btn-sm btn-secondary pe-none user-select-none">
                No Pending Requests
            </a>
            <% end %>
            <%= link_to 'View Users', admin_users_path, class: "font-mont btn btn-sm custom-btn-outline" %>
        </div>
    </div>
</div>