<%= turbo_frame_tag "admin_dash" do %>
    <div class="container-fluid">
        <%= render 'admin/dashboard/users_component' %>
        <%= render 'admin/dashboard/transactions_component' %>
    </div>
<% end %>