
<div class="alert alert-secondary alert-dismissible position-absolute top-0 start-50 translate-middle col-8 mt-4 fade show" role="alert" data-controller="alerts">
    <strong><%= notice %></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
