<% if notice %>
<div class="alert alert-success alert-dismissible mt-3 fade show" role="alert" data-controller="alerts">
    <strong><%= notice %></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>

<% if alert %>
<div class="alert alert-danger alert-dismissible mt-3 fade show z-3" role="alert" data-controller="alerts">
    <strong><%= alert %></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>
