<nav class="navbar fixed-bottom bg-body-tertiary">
  <div class="container-fluid">
    <div class="d-flex mx-auto gap-5 py-2">
        <a href="<%= root_path %>" data-turbo-frame="user_frame" class="dash-link active">
            <i class="fa-solid fa-house fa-xl"></i>
        </a>
        <a href="<%= transactions_path %>" data-turbo-frame="user_frame">
            <i class="fa-solid fa-file-invoice-dollar fa-xl"></i>
        </a>
        <a href="<%= stocks_path %>" data-turbo-frame="user_frame">
            <i class="fa-solid fa-briefcase fa-xl"></i>
        </a>
    </div>
  </div>
</nav>