<nav class="navbar fixed-bottom bg-body-tertiary">
  <div class="container-fluid">
    <div class="d-flex mx-auto gap-5 py-2" data-controller="navbar">
        <%= render 'shared/navbar_links' %>
    </div>
    <div class="position-absolute end-0 me-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
        <i class="fa-solid fa-grip-lines fa-rotate-180 fa-xl"></i>
    </div>
  </div>
</nav>

<%= render 'shared/offcanvas' %>