<div class="offcanvas offcanvas-end" id="offcanvas">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">
            <% if current_user.admin? %>
            Admin Controls
            <% else %>
            User Controls
            <% end %>
        </h5>
        <button class="btn-close" data-bs-dismiss="offcanvas" type="button"></button>
    </div>

    <div class="offcanvas-body">
        <%= link_to 'Meme Generator', memes_path, data: {
            controller: "modal",
            action: "click->modal#open",
            bs_toggle: "modal",
            bs_target: "#appModal"
        }, class: 'btn custom-btn' %>
    </div>

    <%= button_to 'Sign Out', destroy_user_session_path, method: :delete,
    class: "position-absolute bottom-0 start-50 translate-middle btn btn-danger w-100" %>
</div>