<div class="row position-relative" style="height: 500px">
    <div class="col-11 rounded-4 shadow-sm position-absolute start-50 translate-middle-x bgc-air" style="top: -1rem">
        <canvas id="myChart"  style="min-height: 150px;" data-controller="transaction-chart"></canvas>
        <table id="user_transactions_table" class="table table-borderless">
            <tr class="small">
                <th></th>
                <th class="fw-light">Bought</th>
                <th class="fw-light">Sold</th>
                <th class="fw-light">Transaction count</th>
            </tr>
            <tr>
                <th class="fw-light">Today</th>
                <td>$69</td>
                <td>$96</td>
                <td>5</td>
            </tr>
            <tr>
                <th class="fw-light">Yesterday</th>
                <td>$69</td>
                <td>$96</td>
                <td>4</td>
            </tr>
            <tr>
                <th class="fw-light">Last 7 days</th>
                <td>$420</td>
                <td>$42069</td>
                <td>15</td>
            </tr>
        </table>
    </div>
</div>


