<div class="row position-relative">
    <div class="col-11 rounded-4 shadow-sm position-relative mx-auto bgc-air" style="top: -1rem;">
        <canvas id="myChart"  style="min-height: 150px;" data-controller="transaction-chart"></canvas>
        <table id="user_transactions_table" class="table table-borderless mb-0">
            <tr class="small">
                <th></th>
                <th class="fw-light">Bought</th>
                <th class="fw-light">Sold</th>
                <th class="fw-light">Count</th>
            </tr>
            <tr class="small">
                <th class="fw-light">Today</th>
                <td class="font-monospace placeholder-glow"><span class="placeholder col-6 rounded-pill"></span></td>
                <td class="font-monospace placeholder-glow"><span class="placeholder col-9 rounded-pill"></span></td>
                <td class="placeholder-glow"><span class="placeholder col-4 rounded-pill"></span></td>
            </tr>
            <tr class="small">
                <th class="fw-light">Yesterday</th>
                <td class="font-monospace placeholder-glow"><span class="placeholder col-7 rounded-pill"></span></td>
                <td class="font-monospace placeholder-glow"><span class="placeholder col-10 rounded-pill"></span></td>
                <td class="placeholder-glow"><span class="placeholder col-6 rounded-pill"></span></td>
            </tr>
            <tr class="small">
                <th class="fw-light">Last 7 days</th>
                <td class="placeholder-glow"><span class="placeholder col-5 rounded-pill"></span></td>
                <td class="placeholder-glow"><span class="placeholder col-6 rounded-pill"></span></td>
                <td class="placeholder-glow"><span class="placeholder col-5 rounded-pill"></td>
            </tr>
        </table>
        <div class="text-center mb-2">
            <%= link_to 'View all', transactions_path, class: "btn btn-sm btn-outline-secondary" %>
        </div>
    </div>
</div>


