<div class="row position-relative" style="height: 500px">
    <div class="col-11 rounded-4 shadow-sm position-absolute start-50 translate-middle-x bgc-air" style="height: 200px; top: -1rem">
        <canvas id="myChart"  style="min-height: 150px;" data-controller="transaction-chart"></canvas>
    </div>
</div>


