<div class="row bgc-dark-blue pb-4 rounded-bottom-5 shadow-sm">
    <div class="row">
        <div class="col-12 mt-5 txtc-air">
            <h2 class="ms-3">
                Welcome <%= current_user.name ? current_user.name : current_user.email %>!
            </h2>
        </div>
    </div>
    <div class="row mx-auto">
        <span class="fw-semibold txtc-air">
            Looks like our team is still looking into your account.
        </span>
    </div>
    <div class="row mx-auto mt-3">
        <span class="fw-light txtc-air small">
            Once all the necessary checks on your account are done, you will receive an email to confirm the activation of your trading rights!
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row rounded-4 shadow bgc-air p-1 mx-1 mt-3">
        <div class="mb-3">
            While you wait, why not try looking up the current prices of the stocks you've been watching...
        </div>
        <div>
            <%= turbo_frame_tag "modal_frame", src: quote_path %>
        </div>
    </div>
</div>
<div>
    <img src="<%= @meme_for_you %>" alt="some random meme" class="img-fluid">
</div>