.smallest-boi {
    font-size: 0.70rem;
    font-style: italic;
    color: lightgray;
}

.shadow {
    &-earth {
        box-shadow: 0 0.5rem 1rem #687864 !important;
    }

    &-evening {
        box-shadow: 0 0.5rem 1rem #8a2be2 !important;
    }

    &-dark-blue {
        box-shadow: 0 0.5rem 1rem #31708e !important;
    }
    
    &-gray-blue {
        box-shadow: 0 0.5rem 1rem #5085A5 !important;
    }
    
    &-light-blue {
        box-shadow: 0 0.5rem 1rem #8fc1e3 !important;
    }
    
    &-sunset {
        box-shadow: 0 0.5rem 1rem #ff7f50 !important;
    }

    &-sm {
        &-earth {
            box-shadow: 0 0.125rem 0.25rem #687864 !important;
        }
    
        &-evening {
            box-shadow: 0 0.125rem 0.25rem #8a2be2 !important;
        }
        
        &-noon {
            box-shadow: 0 0.125rem 0.25rem #daa520 !important;
        }
        
        &-dark-blue {
            box-shadow: 0 0.125rem 0.25rem #31708e !important;
        }

        &-light-blue {
            box-shadow: 0 0.125rem 0.25rem #8fc1e3 !important;
        }
        
        &-gray-blue {
            box-shadow: 0 0.125rem 0.25rem #5085A5 !important;
        }
        
        &-sunrise {
            box-shadow: 0 0.125rem 0.25rem #ff6347 !important;
        }
        
        &-sunset {
            box-shadow: 0 0.125rem 0.25rem #ff7f50 !important;
        }
    }

}

.admin-header {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.font {
    &-mont {
        font-family: "Montserrat";
    }

    &-robo {
        font-family: "Roboto";
    }
}

// Users Component 
.chart-wrapper {
    width: 100%;
    max-width: 225px;
    margin: 0 auto;

    .chart-container {
        position: relative;
        width: 100%;
        padding-top: 100%;
    
        .total-users-count {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            color: #31708e;
        }
    
        #admin_users_chart {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-width: 225px;
            max-height: 225px;
        }
    }
}

.text-bg-sunset {
    background-color: #ff7f50;
    color: #fff;
    border: 1px solid #31708e;
}

.custom-btn-outline {
    color: #5085A5 !important;
    border-color: #5084A5 !important;
    background-color: transsaparent;

    &:hover,&:focus,&:active {
        color: #fff !important;
        background-color: #5085A5 !important;
        border-color: #5084A5 !important;
    }
}

.custom-btn {
    color: #fff !important;
    background-color: #5085A5 !important;
    border-color: #5085A5 !important;

    &:hover, &:focus, &:active {
        color: #5085A5 !important;
        background-color: transparent !important;
        border-color: #5085A5 !important;
    }
}