.smallest-boi {
    font-size: 0.70rem;
    font-style: italic;
    color: lightgray;
}

.shadow {
    &-earth {
        box-shadow: 0 0.5rem 1rem #687864 !important;
    }

    &-evening {
        box-shadow: 0 0.5rem 1rem #8a2be2 !important;
    }

    &-dark-blue {
        box-shadow: 0 0.5rem 1rem #31708e !important;
    }
    
    &-gray-blue {
        box-shadow: 0 0.5rem 1rem #5085A5 !important;
    }
    
    &-light-blue {
        box-shadow: 0 0.5rem 1rem #8fc1e3 !important;
    }

    &-sm {
        &-earth {
            box-shadow: 0 0.125rem 0.25rem #687864 !important;
        }
    
        &-evening {
            box-shadow: 0 0.125rem 0.25rem #8a2be2 !important;
        }
        
        &-noon {
            box-shadow: 0 0.125rem 0.25rem #daa520 !important;
        }
        
        &-dark-blue {
            box-shadow: 0 0.125rem 0.25rem #31708e !important;
        }
        
        &-gray-blue {
            box-shadow: 0 0.125rem 0.25rem #5085A5 !important;
        }
        
        &-sunrise {
            box-shadow: 0 0.125rem 0.25rem #ff6347 !important;
        }
        
        &-sunset {
            box-shadow: 0 0.125rem 0.25rem #ff7f50 !important;
        }
    }

}

.txtc-noon.bgc-dark-blue {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-family: "Montserrat";
}

.font {
    &-mont {
        font-family: "Montserrat";
    }

    &-robo {
        font-family: "Roboto";
    }
}