.stock-icon-box {
    .icon-div {
      width: 3.5rem;
      height: 3.5rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.position-relative {
      top: -1rem;
    }
  }