#user_greeting {
    h2 {
        font-family: "Montserrat";
        font-weight: 500;
        color: #f7f9fb;
        letter-spacing: 2px;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }
}

.pbar-desc {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.stock-icon-box {
    .icon-div {
      width: 3.5rem;
      height: 3.5rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.position-relative {
      top: -1rem;
    }
}