// Assets Component
#user_greeting {
    h2 {
        font-family: "Montserrat";
        font-weight: 500;
        color: #f7f9fb;
        letter-spacing: 2px;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }
}

.pbar-desc {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


// Stocks Component
.stock-icon-box {
    .icon-div {
      width: 3.5rem;
      height: 3.5rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.position-relative {
      top: -1rem;
    }
}

// Quote Component
.ticker-tape {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.ticker-item {
  display: inline-block;
  padding: 0 10px; /* Adjust padding as needed */
  animation: ticker-scroll 30s linear infinite; /* Adjust speed as needed */
}

.ticker-symbol {
  margin-right: 2.5px;
}

@keyframes ticker-scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}