<%= turbo_frame_tag "admin_dash" do %>
<div class="container-fluid mb-5">
    <div class="row bgc-gray-blue p-2 mb-3 rounded-bottom-5 text-center shadow-sm-sunset sticky-top" data-controller="animations">
        <h3 class="font-mont txtc-air txt-shadow fw-bold">App Users</h3>
    </div>
    <div class="row mx-auto my-3">
        <%= link_to 'Add a User', new_admin_user_path, class: "btn custom-btn-outline font-robo text-reset", data: {
            controller: "modal",
            action: "click->modal#open",
            bs_toggle: "modal",
            bs_target: "#appModal"
        } %>
    </div>

    <div class="table-responsive font-robo row">
        <table class="table table-striped">
            <thead>
                <tr class="bgc-dark-blue">
                    <th scope="col" class="text-white text-center">Email</th>
                    <th scope="col" class="text-white text-center">Status</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
            <% @users.each do |user| %>
                <%= render user %>
            <% end %>
            </tbody>
        </table>
    </div>
</div>
<% end %>