<%= turbo_frame_tag "modal_frame" do %>
<div>
    <% if @user.approved && @user.confirmed? %>
        <small class="bgc-light-blue txtc-air p-1 px-2 rounded bold">Verified Trader</small>
        <% end %>
        <% unless @user.approved? %>
        <small class="bgc-dark-blue txtc-air p-1 rounded px-2">Pending Trader</small>
        <% end %>
        <% unless @user.confirmed? %>
        <small class="bgc-sunset txtc-air p-1 px-2 rounded">Unverified User</small>
    <% end %>
    <div class="d-flex">
        <div class="form-floating my-2">
            <input type="number" id="floatingCash" class="form-control-plaintext" readonly value="<%= @user.cash%>" >
            <label for="floatingCash">Cash</label>
        </div>

        <div class="form-floating my-2">
            <input type="text" id="floatingName" class="form-control-plaintext" readonly value="<%= @user.name ? @user.name : "None" %>">
            <label for="floatingName">Display Name</label>
        </div>
    </div>

    <div class="text-center">
        <%= link_to 'Edit', edit_admin_user_path(@user), class:"btn btn-sm btn-outline-secondary" %>
    </div>
</div>
<% end %>